<%- include('../partials/header') %>
<h2>Add New Flight</h2>

<form action="/flights" method="POST" class="mt-5 p-5">
  <label
    >Airline
    <select name="airline">
      <option value="Delta">Delta</option>
      <option value="American">American</option>
      <option value="United">United</option>
      <option value="Southwest">Southwest</option>
    </select> </label
  ><br />
  <label>
    Airport
    <select name="airport">
      <option value="MCO">MCO</option>
      <option value="LAX">LAX</option>
      <option value="DEN">DEN</option>
      <option value="LIT">LIT</option>
      <option value="FAT">FAT</option>
    </select> </label
  ><br />
  <label>Flight No<input type="number" name="flightNo" /> </label
  ><br />
  <!-- <label>Date <input type="datetime-local" /> </label> -->
  <button type="submit" class="btn btn-primary mt-2" style="width: 50vw">
    Add Flight
  </button>
</form>
<%- include('../partials/footer') %>